@use "sass:color";
$yellow: #f5b654;
$back: #fafafa;

// 地圖容器：全螢幕顯示
#map {
  position: absolute;
  top: 0;
  right: 0;
  width: 95%;
  height: 100vh;
  z-index: 1; //覆蓋地圖
}

// 隱藏元素的樣式
.hidden {
  transform: scale(0) !important;
  //display: none !important;
}

.overlay {
  position: fixed;
  top: 5%;
  left: 8%;
  z-index: 10;
  display: flex;
  flex-direction: row; // 水平排列
  justify-content: center;
  gap: 20px; // 元素間距
}

.searchbox,
#place-type,
#mode-toggle,
.photos-container,
.more,
.searchnearby {
  z-index: 11; //覆蓋地圖
}

//按鈕們
.buttongroup {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.button {
  padding: 6px;
  border-radius: 8px;
  width: 105px;
  border: #555 2px solid;
  border-radius: 10px;
  background-color: $back;
  cursor: pointer;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: bold;
  color: #555;

  &:hover {
    transform: scale(1.02); //放大按鈕
  }

  &:active {
    transform: translateY(0.3px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
}

//列表模式
.place-list {
  display: flex !important;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 8%;
  // margin-left: 10%;
  font-family: "微軟正黑體";
  font-weight: 700;
  max-height: 90vh; /* 90% 視窗高度，避免超出 */
  padding-bottom: 70px; /* 增加底部間距，避免內容被遮住 */
  // padding-left: 1%;
  box-sizing: border-box;
  overflow-y: auto;
}

//我的
//搜尋框
.searchbox {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #555 2px solid;
  border-radius: 10px;
  width: 60vh;
  height: 37px;
  background-color: $back;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
}

.icon {
  font-size: 15px;
  color: #555;
  margin: 0 10px;
}

.search {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
  width: 80%;
  height: 24px;
  background-color: $back;
  border-radius: 2px;
  font-weight: bold;
}

.search::placeholder {
  color: #999;
}

.searchbutton {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
  background: none;
  border: none;
  color: #555;
  padding: 5px;
  cursor: pointer;
  width: 10vh;
}

//搜尋此區
.searchnearby {
  // position: fixed;
  // top: 12%; //2.5% //12% 128%;
  // right: 47.26%; //43.3% 20.6%;
  gap: 3px;
  width: 105px;
  z-index: 100; //覆蓋地圖
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #555 2px solid;
  border-radius: 10px;
  background-color: $back;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);

  &:hover {
    transform: scale(1.02); //放大按鈕
  }

  &:active {
    transform: translateY(0.3px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
}

//地圖模式圖表
.photos-container {
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  bottom: 0;
  left: 10%;
  z-index: 100;
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
  white-space: nowrap;
  scroll-behavior: smooth;
  width: 80%;
  height: 150px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

//地圖模式的圖表滾輪
::-webkit-scrollbar {
  width: 8px; /* 滾輪寬度 */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: rgba(95, 88, 88, 0.5); //滾輪本體
  border-radius: 15px;
  transition: background 0.3s ease; //增加平滑效果
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(41, 40, 40, 0.8); //滑鼠移上更深的透明色
}

//搜尋條件
.searchoptions {
  background-color: $back;
  position: absolute;
  left: 17%;
  top: 11%;
  z-index: 2;
  margin-bottom: 20px;

  width: 60vh;
  height: 25vh;
  border: 3px solid $yellow;
  border-radius: 15px;

  max-height: 300px;
  overflow-y: auto;
  padding: 5px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $back;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $yellow; // 滾動條的顏色
    border-radius: 15px; // 滾動條的圓角
    border: 3px solid $back; // 滾動條的邊框顏色和寬度
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: color.adjust($yellow, $lightness: -10%);
  }
}

.tag-btn {
  display: inline-block;
  padding: 8px 12px; // 確保一致的內邊距
  font-size: 14px;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: rgb(230, 233, 237, 0.5);
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $yellow;
    color: white;
  }
}

.clear-history {
  padding: 5px 5px;
  border: none;
  border-radius: 20px;
  background-color: rgb(230, 233, 237, 0.5);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: transparent;
  color: #888;

  &:hover {
    transform: scale(1.01);
    background-color: transparent;
    color: #959595;
  }
}

.search-history,
.popular-searches {
  h3 {
    font-size: 12px;
    margin: 5px;
    color: #444;
    padding-left: 5px;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.popular-destinations,
.tag-list {
  padding: 6px;
}

.popular-destinations {
  h3 {
    font-size: 12px;
    margin-bottom: 5px;
    color: #444;
  }

  .destination-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    //margin: 10px auto;
  }

  .destination-card {
    width: calc(50% - 7.5px);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 15px;
    //transition: transform 0.3s;
    //margin: 5px auto;
    padding: 6px;

    &:hover {
      //transform: scale(1.01);
      background-color: rgba(241, 241, 241, 0.5);
      border-radius: 10px;
      padding: 10px;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 10px;
      //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    p {
      margin-top: 5px;
      font-size: 12px;
      color: #444;
      display: flex;
      align-items: center;
    }
  }
}
