$yellow: #f5c170;
$back: #f6f3eb;
$black: #555;
$red: #d5100b;

.big {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(232, 232, 232, 0.2) rgba(255, 255, 255, 0.5);
}

.header {
  margin: 10px 100px;
}

/********************** 其他使用者的個人資料 **********************/
.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .user-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    //border: 1px solid white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  }

  .user-info {
    flex: 1;

    .user-name {
      font-size: 30px;
      font-weight: bold;
      color: $black;
      letter-spacing: 0.07em;
      margin-left: 10px;
    }
  }
}


/********************** 其他使用者的貼文列表頁 **********************/
.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 30px 0;
  min-height: 300px;
}

.post-card {
  // width: calc(25% - 15px);
  /* 每個卡片的寬度為容器的四分之一，並減去間隙 */
  width: 295px;
  height: 300px;
  display: flex;
  flex-direction: column;
  //align-items: center;
  gap: 5px;
  //padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-shrink: 0;
}

.post-image {
  width: 100%;
  height: 170px;
  border-radius: 0;
  object-fit: cover; // 裁切圖片，保持比例，填滿空間
  display: block; // 確保圖片塊狀顯示，避免間隙
}

.post-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  overflow: hidden;
}

h3 {
  // margin: 0;
  // font-size: 18px;
  // font-weight: bold;
  // cursor: pointer;
  margin: 0;
  padding-top: 0;
  margin-bottom: 0.3rem;
  font-size: 18px;
  font-weight: bold;
  height: fit-content;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-name {
  font-size: 16px;
  // cursor: pointer;
}

p {
  margin: 5px 0;
  color: $black;
  font-size: 14px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}


/********************** 卡片 footer **********************/

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 14px;
  margin-bottom: -10px;
}

.footer .left {
  flex: 1;
  /* 左側佔據剩餘空間 */
  text-align: left;
  /* 確保貼文時間靠左對齊 */
}

.footer .right {
  display: flex;
  align-items: center;
  /* 右側內容垂直居中 */
  gap: 5px;
  /* 圖標和文字之間的間距 */
}

.footer .icon {
  display: flex;
  align-items: center;
  /* 保證圖標與文字垂直居中 */
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #555;
}

/********************** ICON **********************/
.true {
  color: $red;
}

.false {
  color: $black;
}

.null {
  color: #fff;
}
